@model Product

<h2>Удаление продукта</h2>

<h3>Вы уверены, что хотите удалить этот продукт?</h3>
<div>
    <h4>@Model.Name, @Model.Author</h4>
    <form asp-action="RemoveConfirmed" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="Index">Отмена</a>
    </form>
</div>