@model User
<form method="post">
	<h4>Смена пароля для пользователя @ViewData["email"]</h4>
	<br />
	<div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>

    <div class="form-group">
        <label asp-for="Password">Введите новый пароль</label>
        <input asp-for="Password" class="form-control" placeholder="Пароль">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

	<br />
	<br />
	<br />

	<button type="submit" class="btn btn-primary" asp-area="Administrator" asp-controller="User" asp-action="ChangePassword" asp-route-id="@ViewData["id"]">Сохранить</button>
	<a class="btn btn-outline-primary" asp-area="Administrator" asp-controller="User" asp-action="Index">Отмена</a>
</form>