@model IEnumerable<Role>
@{
    int i = 1;
}

<div class="row">
    @await Html.PartialAsync("Index")

    <div class="col-9">
        <h3 class="text-center">Список ролей</h3>
        <br />
        <a class="btn btn-outline-success" asp-controller="Administrator" asp-action="AddRole">Добавить новую роль</a>
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Название</th> 
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var role in Model)
                        {
                            <tr>
                                <td> @i </td>
                                <td class="col-2"><p>@role.Name</p></td>                                
                                <td>
                                    <a href="/Administrator/Administrator/RemoveRole?roleName=@role.Name">Удалить</a>
                                <td />
                            </tr>
                            i += 1;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>