html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Merriweather', serif;
    color: #333;
    background-color: #ffffff;
}

/* Стили для описания книг */
.description {
    height: 4.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description-full {
    height: auto;
    overflow: visible;
}




/* Подключение шрифта через Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');




/* Стилизация базовых элементов страницы */

.nav-item {
    padding: 10px;
}

/* Стилизация карточек */
.container {
    background: rgba(255, 255, 255, 0); /* Белый фон с неполной прозрачностью */
    padding: 20px;
    border-radius: 15px; /* Слегка закруглённые углы */
}

.card {
    background-color: #ffffff;
    border-color: #ddd;
    border-radius: 4px;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #dadfe1; /* Тонкая линия вокруг карточки */
}

.card-title {
    color: #444;
    font-weight: bold;
}

.card-header {
    border-bottom: 1px solid #dadfe1; /* Тонкая горизонтальная линия под заголовком */
    padding-bottom: .5rem; /* Небольшое пространство под заголовком до остального содержимого */
    margin-bottom: .5rem; /* Отступ от линии до содержимого карточки */
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    /* Легкая анимация для наведения */
    transition: transform 0.5s ease-in-out;
    transform: scale(1.02);
}

.col-md-4 {
    margin-bottom: 20px;
}

.product-details {
    padding: 10px;
}

    .product-details img {
        max-width: 100%; /* максимальная ширина изображения равна ширине родительского элемента */
        max-height: 400px; /* максимальная высота изображения, к примеру, 400 пикселей */
        width: auto; /* ширина изображения автоматически подстроится, чтобы сохранить пропорции */
        height: auto; /* высота изображения автоматически подстроится, чтобы сохранить пропорции */
        display: inline; /* изображение будет отображаться как строчный элемент */
        margin: 0 auto; /* вертикальные отступы будут автоматически, чтобы выровнять изображение по центру */
    }

.btn-group {
    margin-top: 15px;
}

.cost {
    color: #855E42;
    font-size: 20px;
    font-weight: bold;
}

.total-amount {
    padding: 5px;
    margin-top: 15px; /* немного отступа от таблицы */
    margin-bottom: 15px;
    text-align: left; /* текст суммы будет по центру */
    color: #855E42;
}

.total-sum {
    font-weight: bold; /* жирный текст для суммы */
    font-size: 1.2em; /* размер шрифта */
}

.table img {
    height: 150px; /* Ширина картинки */
    width: auto; /* Высота изменится пропорционально ширине */
    display: block; /* Убираем выравнивание по базовой линии текста */
    margin: auto;
}

/* Если хотим установить ширину столбца с изображением */
.table th:first-child,
.table td:first-child {
    width: 110px; /* Ширина столбца с отступами */
    text-align: center; /* Выравнивание по центру */
}

.table th, /* заголовки таблицы */
.table td:not(:first-child) { /* все ячейки таблицы кроме первого столбца с изображениями */
    text-align: center;
    vertical-align: middle; /* также выровняем контент по вертикали */
}

.action {
    padding: 10px;
}

.table {
    font-size: 12px;
}

.pagination {
    margin-top: 20px;
    margin-bottom: 20px;
}


.beautiful-read-more {
    background-color: #f5f5f5; /* Светло-серый цвет фона кнопки */
    color: #333333; /* Темно-серый цвет текста для лучшей читаемости */
    border: 1px solid #cccccc; /* Серая рамка для определения границ кнопки */
    border-radius: 5px; /* Скругление углов */
    padding: 10px 20px; /* Отступы */
    font-weight: bold; /* Жирное начертание шрифта */
    cursor: pointer; /* Форма курсора при наведении */
    outline: none; /* Убрать обводку при фокусе */
    transition: background-color 0.3s ease; /* Плавное изменение цвета при наведении */
    text-decoration: none; /* Убрано подчеркивание */
}

    .beautiful-read-more:hover {
        background-color: #e6e6e6; /* Немного темнее цвет фона при наведении */
    }


table a {
    text-decoration: none; /* убираем подчеркивание */
}


.description, .description-full {
    transition: max-height 2s ease-in-out;
    overflow: hidden;
}

.description {
    max-height: 50px; /* или другое значение в зависимости от желаемой высоты */
}

.description-full {
    max-height: 200px; /* или другое значение, достаточное для показа полного текста */
}