@model OnlineShopWebApp.Models.UserViewModel

<div class="container">
    <div class="row">
        <!-- Левая часть (меню) -->
        <div class="col-md-3 profile-menu">
            @await Html.PartialAsync("MenuUser")
        </div>
        <!-- Правая часть (информация о пользователе) -->
        <div class="col-md-9 profile-info">
            <div class="profile-content">
                <h1>Профиль</h1>
                <p><strong>Email:</strong> @Model.Email</p>
                <p><strong>Имя:</strong> @Model.UserName</p>
                <p><strong>Номер телефона:</strong> @Model.PhoneNumber</p>
            </div>
        </div>
    </div>
</div>