@model Register

<form method="post">

    <h5>Регистрация</h5>

    <div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>

    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
 
    <div class="form-group">
        <label asp-for="UserName">Имя</label>
        <input asp-for="UserName" class="form-control" placeholder="Имя">
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password">Пароль</label>
        <input asp-for="Password" class="form-control" placeholder="Пароль">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber">Телефон</label>
        <input asp-for="PhoneNumber" class="form-control" placeholder="Телефон">
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>  
   

    <br />

    <button class="btn btn-primary" type="submit" asp-controller="Accounts" asp-action="Register" asp-route-ReturnUrl="@Model.ReturnUrl">Зарегистрироваться</button>
</form>