@using Microsoft.AspNetCore.Identity
@using OnlineShop.Db
@using OnlineShop.Db.Models
@inject UserManager<User> UserManager

@{
    var avatarPath = User.Identity.IsAuthenticated ? (await UserManager.FindByNameAsync(User.Identity.Name))?.Avatar : null;
}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm mb-3 sticky-nav">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/logo.png" alt="OnlineShopWebApp">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="fa fa-home"></i> Главная
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Favorites" asp-action="Index">
                            <i class="fa fa-star"></i> Избранное
                        </a>
                    </li>
                    <li class="nav-item" style="margin-right: 100px;">
                        <a class="nav-link" asp-area="" asp-controller="Carts" asp-action="Index">
                            <i class="fa fa-shopping-cart"></i> Корзина @await Component.InvokeAsync("Cart")
                        </a>
                    </li>
                    <li class="nav-item">
                        <form asp-controller="Home" asp-action="Search" method="get" class="d-flex my-2 my-lg-0">
                            <input class="form-control me-2" type="search" placeholder="Поиск..." aria-label="Search" name="name">
                            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Поиск</button>
                        </form>
                    </li>
                </ul>

                <div class="navbar-nav">
                    @if (User.IsInRole(Constants.AdminRoleName))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Administrator" asp-controller="Orders" asp-action="Index">
                                <i class="fas fa-user-shield"></i> Администратор
                            </a>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link bi-link" href="#" id="userDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                @if (avatarPath != null)
                                {
                                    <img src="@avatarPath" style="width: 45px; height: 45px; border-radius: 15px">
                                }
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="userDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Accounts" asp-action="Profile">Профиль</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Accounts" asp-action="Logout">Выйти</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Accounts" asp-action="Login">
                                <i class="fas fa-sign-in-alt"></i> Авторизоваться
                            </a>
                        </li>
                    }                    
                </div>
            </div>
        </div>
    </nav>
</header>