<div class="col-9 list-group-flush">
    <a class="list-group-item" asp-controller="Accounts" asp-action="Profile"> Профиль </a>
    <a class="list-group-item" asp-controller="Accounts" asp-action="EditProfile"> Редактировать профиль </a>
    <a class="list-group-item" asp-controller="Accounts" asp-action="ChangeUserPassword"> Сменить пароль </a>
    <a class="list-group-item" asp-controller="Accounts" asp-action="UserOrders"> Мои заказы </a>
</div>