<div class="col-9 list-group-flush">
    <a class="list-group-item" asp-controller="Accounts" asp-action="EditProfile" asp-route-name="@Model.UserName"> Редактировать профиль </a>
    <a class="list-group-item" asp-controller="Accounts" asp-action="EditProfile" asp-route-name="@Model.UserName"> Мои заказы </a>
</div>