<div class="col-2 list-group-flush">
    <a class="list-group-item" asp-controller="Accounts" asp-action="EditProfile" asp-route-name="@Model.UserName"> <i class="bi bi-cart4"></i> Изменить личные данные </a>
</div>